// Basic Colors
$main-color: #30685B; // Main color
$text-color: #000000; // Body text
$nav-text-color: #d3d3d3; // Navigation text

//Background Colors
$bg-color: #ffffff; // Background body color
$bg-nav-color: #242424; // Background navbar color
